[package]
name = "derive_reducers"
version = "0.0.0"
edition = "2021"
publish = false
description = "Proc-macro implementation for composable::RecursiveReducer derive"
license = "MIT OR Apache-2.0"

[lib]
proc-macro = true

[dependencies]
syn = "2.0"
quote = "1.0"
proc-macro2 = "1.0"
